:root {
  --color-disabled: rgb(201, 201, 201);
  --color-versatile-lighter: #f4f4f4;
  --color-versatile-light: #f9f9f9;
  --color-versatile-contrast: #7e7e7e;
  --color-bg: white;
  --color-text: #1c1c1c;
}

.dark {
  --color-disabled: #767676;
  --color-versatile-lighter: #505050;
  --color-versatile-light: #404040;
  --color-versatile-contrast: #cecece;
  --color-bg: rgb(59, 59, 59);
  --color-text: #f7f7f7;
}

table {
  background-color: var(--color-bg);
  color: var(--color-text);
}

tbody tr.checked {
  background-color: var(--color-versatile-lighter);
}

tbody tr:not(.checked):hover {
  background-color: var(--color-versatile-light);
}

td,
th {
  border: 3px solid var(--color-disabled);
  text-align: left;
  padding: 10px 16px;
}

table.sortable th:not(.tb-checkbox-column) {
  cursor: pointer;
  position: relative;
  user-select: none;
}

table.sortable th:not(.tb-checkbox-column):hover {
  background-color: var(--color-versatile-light);
}

table.sortable th:not(.tb-checkbox-column)::before,
table.sortable th:not(.tb-checkbox-column)::after {
  color: var(--color-disabled);
  right: 5px;
  position: absolute;
  font-size: 1.2rem;
}

table.sortable th:not(.tb-checkbox-column)::before {
  content: "\25BE";
  margin: 0.2rem 0;
}

table.sortable th:not(.tb-checkbox-column)::after {
  content: "\25B4";
  margin: -0.4rem 0;
}

table.sortable th[data-asc="true"]::before {
  color: var(--color-versatile-contrast);
}

table.sortable th[data-asc="false"]::after {
  color: var(--color-versatile-contrast);
}

.tb-checkbox-column,
.tb-checkbox-row {
  text-align: center;
  padding: 0px;
}

.tb-checkbox-column input,
.tb-checkbox-row input {
  transform: scale(1.2);
  cursor: pointer;
}
