.ta-search-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-family: var(--font-family);

  input {
    background-color: var(--color-light);
    color: var(--color-darker);
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius-radius);
    width: 250px;
  }

  &::after {
    position: absolute;
    content: " ";
    -webkit-mask-image: var(--icon-search);
    mask-image: var(--icon-search);
    background-color: var(--color-tertiary);
    bottom: 25%;
    right: 1rem;
    height: 1rem;
    width: 1rem;
  }

  @media (max-width: 992px) {
    input {
      width: 100%;
    }
  }
}
